.item {
  margin: 12px;
  padding: 21px;
  width: 100%;
  max-height: 440px;
  min-width: 100px;
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  /* Animation */
  -webkit-transform: scale(1);
          transform: scale(1);
}

.item .information {
  height: 120px;
}

.item .information .price {
  margin-top: 5px;
  margin-bottom: 5px;
}

.item .information .score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item .image {
  max-height: 200px;
  width: 100%;
  margin-bottom: 15px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  /* Animation */
  -webkit-transform: scale(1);
          transform: scale(1);
}

.item .image:hover {
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  /* Animation */
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.item:hover {
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  /* Animation */
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.itemModal {
  text-align: left;
  margin: 0 auto;
}

.itemModal .score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.itemModal .mainContent {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.itemModal .mainContent .left {
  margin: 25px;
}

.itemModal .mainContent .left .image {
  max-height: 400px;
  max-width: 400px;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  /* Animation */
  -webkit-transform: scale(1);
          transform: scale(1);
}

.itemModal .mainContent .left .image:hover {
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  /* Animation */
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.itemModal .mainContent .right {
  margin: 25px;
  overflow-wrap: break-word;
  text-align: left;
}

.itemModal .mainContent .right .stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.itemModal .mainContent .right .stock .stockInput input {
  width: 30%;
}
/*# sourceMappingURL=Item.css.map */